* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background: rgba(0, 0, 0, 0.85);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 50px;
    padding: 60px 0 40px 0;
}

h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}

#social-links {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 20px;
    color: gray;
    background: rgba(0, 0,  0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.45s ease;
}

.social-link:hover {
    transform: translateY(-7px);
}

#google:hover {
    color: gray;
    background: rgba(255, 255,  255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 0 rgba(255, 255, 255), 0 0 15px rgba(255, 255, 255);
}

#youtube:hover {
    color: red;
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid rgba(255, 0, 0, 0.2);
    box-shadow: inset 0 0 0 rgba(255, 0, 0), 0 0 15px rgba(255, 0, 0);
}

#instagram:hover {
    color: magenta;
    background: rgba(255, 0, 255, 0.1);
    border: 1px solid rgba(255, 0, 255, 0.2);
    box-shadow: inset 0 0 0 rgba(255, 0, 255), 0 0 15px rgba(255, 0, 255);
}

#tiktok:hover {
    color:aquamarine;
    background-color: rgba(150, 255, 210, 0.1);
    border: 1px solid rgba(150, 255, 210, 0.2);
    box-shadow: inset 0 0 0 rgba(150, 255, 210), 0 0 15px rgba(150, 255, 210);
}

#twitter:hover {
    color: gray;
    background: rgba(255, 255,  255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 0 rgba(255, 255, 255), 0 0 15px rgba(255, 255, 255);
}

#telegram:hover {
    color: lightskyblue;
    background: rgba(150, 200, 255, 0.1);
    border: 1px solid rgba(150, 200, 255, 0.2);
    box-shadow: inset 0 0 0 rgba(150, 200, 255), 0 0 15px rgba(150, 200, 255);
}

#discord:hover {
    color: blue;
    background: rgba(0, 0, 255, 0.1);
    border: 1px solid rgba(0, 0, 255, 0.2);
    box-shadow: inset 0 0 0 rgba(0, 0, 255), 0 0 15px rgba(0, 0, 255);
}

#linkedin:hover {
    color: darkblue;
    background: rgba(0, 10, 140, 0.1);
    border: 1px solid rgba(0, 10, 140, 0.2);
    box-shadow: inset 0 0 0 rgba(0, 10, 140), 0 0 15px rgba(0, 10, 140);
}

@media (max-width: 768px) {
    h1 {
        font-size: 35px;
        padding: 40px 20px 30px 20px;
    }

    h2 {
        font-size: 18px;
        padding: 0 20px;
    }

    main {
        margin-top: -40px;
    }

    .social-link {
        width: 60px;
        height: 60px;
        font-size: 18px;
    }
}